<h1> 1 Data collection

<h5> 1. Collect the name of all the countries per continent from English Wikipedia.

In [87]:
#Importing all the necessary libraries
import requests
import csv
import numpy as np
import pandas as pd
import urllib
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt

#Requesting for the website
address = "https://simple.wikipedia.org/wiki/List_of_countries_by_continents"
wikipage = urllib.request.urlopen(address)

soup = BeautifulSoup(wikipage,"html.parser")

#Getting the continents
continents = soup.select(".mw-headline")
#Initializing a list
Conts = []
#Inserting the values to the list
for c in continents:
    Conts.append(c.get_text().strip())
#Popping unnecessary values
Conts.pop()
Conts.pop()

print("The name of the Continents are:")
#Printing the Continents
for c in Conts:
    print(c)
#Getting the Country names    
Country = soup.select(".mw-parser-output > ol > li > a")
    
Countries = []
#Inserting the values to the list
for c in Country:
    Countries.append(c.get_text().strip())
    
print("\nCountries:")
#Printing the name of the Countries
for c in Countries:
    print(c)

The name of the Continents are:
Africa
Antarctica
Asia
Europe
North America
South America
Australia/Oceania

Countries:
Algeria
Algiers
Angola
Luanda
Benin
Porto Novo
Cotonou
Botswana
Gaborone
Burkina Faso
Ouagadougou
Burundi
Gitega
Cameroon
Yaoundé
Cape Verde
Praia
Central African Republic
Bangui
Chad
N'Djamena
Comoros
Moroni
Republic of the Congo
Brazzaville
Democratic Republic of the Congo
Kinshasa
Côte d'Ivoire
Yamoussoukro
Djibouti
Djibouti
Egypt
Cairo
Equatorial Guinea
Malabo
Eritrea
Asmara
Ethiopia
Addis Ababa
Gabon
Libreville
The Gambia
Banjul
Ghana
Accra
Guinea
Conakry
Guinea-Bissau
Bissau
Kenya
Nairobi
Lesotho
Maseru
Liberia
Monrovia
Libya
Tripoli
Madagascar
Antananarivo
Malawi
Lilongwe
Mali
Bamako
Mauritania
Nouakchott
Mauritius
Port Louis
Morocco
Rabat
Mozambique
Maputo
Namibia
Windhoek
Niger
Niamey
Nigeria
Abuja
Rwanda
Kigali
São Tomé and Príncipe
São Tomé
Senegal
Dakar
Seychelles
Victoria, Seychelles
Sierra Leone
Freetown
Somalia
Mogadishu
South Africa
Pretoria
South Sudan
Juba
Sudan
Khartoum
Swaziland
Eswatini
Mbabane
Tanzania
Dodoma
Togo
Lome
Tunisia
Tunis
Uganda
Kampala
Western Sahara
El Aaiún
Zambia
Lusaka
Zimbabwe
Harare
Afghanistan
Kabul
Armenia
Yerevan
Azerbaijan
Baku
Bahrain
Manama
Bangladesh
বাংলাদেশ
Dhaka
ঢাকা
Bhutan
Thimphu
Brunei
Bandar Seri Begawan
Cambodia
Phnom Penh
China
Beijing
East Timor
Dili
Georgia
Tbilisi
India
New Delhi
Indonesia
Jakarta
Iran
Tehran
Iraq
Baghdad
Israel
Jerusalem
Japan
Tokyo
Jordan
Amman
Kazakhstan
nursultan
Kuwait
Kyrgyzstan
Bishkek
Laos
Vientiane
Lebanon
Beirut
Malaysia
Kuala Lumpur
Maldives
Malé
Mongolia
Ulaanbaatar
Myanmar
Naypyidaw
Nepal
Kathmandu
North Korea
Pyongyang
Oman
Muscat
Pakistan
Islamabad
Philippines
Manila
Qatar
Doha
Russia
Moscow
Saudi Arabia
Riyadh
Singapore
Singapore
South Korea
Seoul
Sri Lanka
Sri Jayawardenapura Kotte
Colombo
Syria
Damascus
Tajikistan
Dushanbe
Thailand
Bangkok
Turkey
Ankara
Turkmenistan
Aşgabat
Taiwan
Taipei
United Arab Emirates
Abu Dhabi
Uzbekistan
Tashkent
Vietnam
Hanoi
Yemen
Albania
Tirana
Andorra
Andorra la Vella
Austria
Vienna
Belarus
Minsk
Belgium
Brussels
Bosnia and Herzegovina
Sarajevo
Bulgaria
Sofia
Croatia
Zagreb
Cyprus
Nicosia
Czech Republic
Prague
Denmark
Copenhagen
Estonia
Tallinn
Finland
Helsinki
France
Paris
Georgia
Tbilisi
Germany
Berlin
Greece
Athens
Hungary
Budapest
Iceland
Reykjavik
Republic of Ireland
Dublin
Italy
Rome
Kazakhstan
nursultan
Kosovo
Latvia
Riga
Liechtenstein
Vaduz
Lithuania
Vilnius
Luxembourg
Luxembourg City
North Macedonia
Skopje
Malta
Valletta
Moldova
Chisinau
Monaco
Montenegro
Podgorica
Netherlands
Amsterdam
The Hague
Norway
Oslo
Poland
Warsaw
Portugal
Lisbon
Romania
Bucharest
Russia
Moscow
Ural Mountains
Vladivostok
San Marino
San Marino
Serbia
Belgrade
Slovakia
Bratislava
Slovenia
Ljubljana
Spain
Madrid
Sweden
Stockholm
Switzerland
Bern
Turkey
Ankara
Ukraine
Kyiv
Kiev
United Kingdom
London
Vatican City
Vatican City
Antigua and Barbuda
St. John's
Anguilla
The Valley
Aruba
Oranjestad
Kingdom of the Netherlands
The Bahamas
Nassau
Barbados
Bridgetown
Belize
Belmopan
Bermuda
Hamilton
Bonaire
Netherlands
British Virgin Islands
Road Town
Canada
Ottawa
Cayman Islands
George Town
Clipperton Island
Costa Rica
San José
Cuba
Havana
Curaçao
Willemstad
Kingdom of the Netherlands
Dominica
Roseau
Dominican Republic
Santo Domingo
El Salvador
San Salvador
Greenland
Nuuk
Grenada
St George's
Guadeloupe
Guatemala
Guatemala
Haiti
Port-au-Prince
Honduras
Tegucigalpa
Jamaica
Kingston
Martinique
Fort-de-France Bay
Mexico
Mexico City
Montserrat
Plymouth, Brades, Little Bay
Navassa Island
Washington, D.C.
Nicaragua
Managua
Panama
Panama City
Puerto Rico
San Juan
Saba
The Bottom
Netherlands
Saint Barthelemy
Gustavia
Saint Kitts and Nevis
Basseterre
Saint Lucia
Castries
Saint Martin
Marigot
Saint Pierre and Miquelon
Saint-Pierre
Saint Vincent and the Grenadines
Kingstown
Sint Eustatius
Oranjestad
Sint Maarten
Philipsburg
Kingdom of the Netherlands
Trinidad and Tobago
Port of Spain
Turks and Caicos
Cockburn Town
United States of America
Washington, District of Columbia
US Virgin Islands
Charlotte Amalie
Argentina
Buenos Aires
Bolivia
Sucré
Brazil
Brasília
Chile
Santiago
Colombia
Bogotá
Ecuador
Quito
French Guiana
Cayenne
Guyana
Georgetown
Paraguay
Asunción
Peru
Lima
South Georgia and the South Sandwich Islands
Suriname
Paramaribo
Uruguay
Montevideo
Venezuela
Caracas
Australia
Federated States of Micronesia
Palikir
Fiji
Kiribati
South Tarawa
Marshall Islands
Majuro
Nauru
Yaren
New Zealand
Wellington
Palau
Papua New Guinea
Port Moresby
Samoa
Apia
Solomon Islands
Honiara
Tonga
Nuku'alofa
Tuvalu
Funafuti
Vanuatu
Port Vila
Australia
Flores
Lombok
Melanesia
New Caledonia
New Guinea
Sulawesi
Sumbawa
Timor

<h5> 2. Create countries-continents pandas dataframe. Dataframe should have two columns:
country , continent.

In [88]:
#Initializing dataframe for continents
Con = pd.DataFrame(Countries)
Con

                 0
0          Algeria
1          Algiers
2           Angola
3           Luanda
4            Benin
..             ...
457  New Caledonia
458     New Guinea
459       Sulawesi
460        Sumbawa
461          Timor

[462 rows x 1 columns]

In [89]:
#Dataframe for countries
Cnts = pd.DataFrame(Conts)
Cnts

                   0
0             Africa
1         Antarctica
2               Asia
3             Europe
4      North America
5      South America
6  Australia/Oceania

<h5> 3. Collect the happiness score, GDP per capital, social support, healthy life expectancy,
freedom to make life choices, generosity, and perceptions of corruption per country
in 2019 from English Wikipedia and put all collected information in a dataframe.

In [90]:
#Requesting for the website
address = "https://en.wikipedia.org/wiki/World_Happiness_Report"
wikipage = urllib.request.urlopen(address)

soup = BeautifulSoup(wikipage,"html.parser")
#Getting the table
tables = soup.find_all("table")
table = soup.find('table', class_='wikitable sortable')
#Getting the rows of the table to make the dataframe
table_rows = table.find_all('tr')

data = []

for row in table_rows:
    data.append([t.text.strip() for t in row.find_all('td')])
#Making the dataframe
Table = pd.DataFrame(data, columns=['Happiness_ranking', 'Country', 'score', 'GDP per capital', 'Social_support', 'Healthy_life_expectancy', 'Freedom_to_make_life_choices', 'Generosity', 'Perception_of_corruption'])
#Showing the table
Table

,Happiness_ranking,Country,score,GDP per capital,Social_support,Healthy_life_expectancy,Freedom_to_make_life_choices,Generosity,Perception_of_corruption
0,None,None,None,None,None,None,None,None,None
1,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
2,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
3,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
4,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
...,...,...,...,...,...,...,...,...,...
152,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
153,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
154,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
155,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
156,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

<h5> 4. Create a new dataframe with all the information that you collected and save it in a
CSV.

In [91]:
#Creating a  csv file named "New Dataframe and saving the dataframe"
Table.to_csv(r'C:\Users\Resmin Hossain\Documents\Data Science\Untitled Folder\New Dataframe.csv', index = False)